.sHeader {
  padding-top: 20%;
  padding-bottom: 10%;
  margin: 0;
}

.resetButton {
  background-color: #725f35;
  width: 100%;
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.resetButton:hover {
  background-color: #423e33;
}

#report h3 {
  text-shadow: none;
}
