body {
  background: black;
  color: #dfe3e3;
  font-family: 'Cardo', serif;
  font-size: 30px;
}

header {
  background-image: url(../images/girl.jpg);
  background-size: cover;
  background-position: center top;
  width: 100%;
  margin: 0;
}

nav {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
}

h1, h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-shadow: 2px 2px 4px black;
  color: #efefef;
}

h1 {
  font-size: 3em;
  padding: 30%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px black;
  color: white;
  line-height: 0.5em;
}

article {
  border: solid 2px #725f35;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 3% 10% 15% 10%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -5px 5px 5px black;
}

button, .button {
  background-color: #a45234;
  transition: all 0.5s ease;
  padding: 0.5em;
  border: solid 2px #423e33;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  border-radius: 5px;
}

button:hover, .button:hover {
  background: #725f35;
}

a:link {
  color: #a45234;
  text-decoration: none;
}

table {
  margin-bottom: 3em;
  empty-cells: hide;
  border-spacing: 3px;
}

td {
  border: 1px solid #a8a8a8;
}

td {
  padding: 0.5em;
}

thead {
  background-color: #11120c;
}

tr:nth-child(even){
  background-color: #3a3039;
}

tr:hover {
  background-color: #262026;
}

tfoot tr {
  background-color: #11120c;
}

footer {
  background-color: #11120c;
  padding: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

footer a:link, footer a:visited {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer a:hover, footer a:active {
  color: #efefef;
}

fieldset {
  padding: 1em 1.5em;
}

legend {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

input, textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
}

.topNav {
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(17, 18, 12);
  background-color: rgba(17, 18, 12, 0.3);
  padding: 0.5em 0;
}

.topNav a {
  font-size: 1.5em;
  color: white;
  padding: 0.75em;
  width: 100%;
}

.topNav a:hover {
  color: #efefef;
}

.topNav a:active {
  color: #efefef;
}

.icon {
  background: none;
  border: none;
}

.icon:active {
  background: none;
}

.icon:hover {
  background: none;
}

.navHide {
  display:none;
}

.formButton {
  font-size: 1.25em;
  width: 100%;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.featured-image {
  width: 100%;
  height: 100%;
  border: solid 3px #11120c;
  border-radius: 10%;
  margin-bottom: 2em;
}

.thumb {
  width: 175px;
  height: 175px;
  object-fit: cover left;
  margin: 1em;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex-direction: column;
}

.store {
  border: solid 2px #725f35;
  border-radius: 1em;
  padding: 0.25em 1em 1em;
  margin: 1em;
  box-shadow: -5px 5px 10px black;
  background-color: #423e33;
  width: 100%;
}

.sectionPurple, .sectionGreen {
  padding: 15% 5% 10%;
  height: auto;
}

.sectionPurple, #report {
  background: #40333e;
  background: -webkit-linear-gradient(left top, #40333e, #746272); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #40333e, #746272); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #40333e, #746272); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #40333e, #746272); /* Standard syntax */
}

.sectionGreen {
  background: #40333e;
  background: -webkit-linear-gradient(left top, #423E33, #11120C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #423E33, #11120C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #423E33, #11120C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #423E33, #11120C); /* Standard syntax */
}



#logo {
  width: 250px;
}

#header-cta {
  padding-top: 60%;
  padding-left: 10%;
  height: 65vh;
}

#logo {
  display: block;
  margin: 0 auto;
  background: none;
}

#locations h2 {
  text-align: center;
  padding-bottom: 1em;
}

#stores {
  justify-content: space-between;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
  body {
    font-size: 24px;
  }
  h3 {
    line-height: 0.25em;
  }
  footer {
    padding: 0.5em;
  }
  .icon {
    position: fixed;
    padding: 0 0.2em 0.2em 0.2em;
  }
  .topNav {
    padding: 0;
    flex-direction: row;
  }
  .topNav a {
    padding: 0.35em;
  }
  .featured-image {
    width: 100%;
    height: 50%;
    /*margin: auto;*/
  }
  .store, .sales {
    width: 40%;
  }

  #logo {
    width: 150px;
  }
  #sectionPurple, #sectionGreen {
    padding: 10% 5%;
    height: auto;
  }
}
/**********TABLET*************/
@media screen and (min-width: 750px) {
  #sectionPurple, #sectionGreen {
    height: auto;
  }
}

/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
#header-cta {
  padding-top: 20%;
}

/**********DESKTOP*************/
@media screen and (min-width: 1000px) {
  body{
    font-size: 16px;
    line-height: 1.25;
  }
  h2 {
    font-size: 2em;
  }
  article {
    width: 40%;
    padding: 5%;
    margin: 0;
  }
  legend {
    font-size: 2em;
  }
  .topNav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;
  }
  .topNav a {
    width: auto;
    color: #11120C;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  #hamburger {
    display: none;
  }
  #store-form {
    width: 40%;
    margin: auto;
  }
  .featured-image {
    width: 40%;
    margin: 0;
  }
  .sales {
    width: 30%;
  }
  .sectionGreen {
    flex-direction: row-reverse;
  }
  #logo {
    width: 150px;
  }
  #header-cta {
    padding-top: 20%;
  }
}
